<!-- wp:group {"className":"home","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group home" style="margin-top:0px;margin-bottom:0px">
    <!-- wp:template-part {"slug":"header","theme":"arab-fund","tagName":"header","area":"header","className":"site-header"} /-->

    <!-- wp:group {"metadata":{"name":"Main Content"},"className":"home-page-container","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group home-page-container" style="margin-top:0px">
        <!-- wp:post-content {"metadata":{"name":"Main Content Placeholder"},"className":"main-content-placeholder","style":{"spacing":{"blockGap":"0"}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"arab-fund"} /-->
</div>
<!-- /wp:group -->