<!-- wp:template-part {"slug":"header","theme":"arab-fund","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"Main Content"},"className":"home-page-container","layout":{"type":"constrained"}} -->
<div class="wp-block-group home-page-container">
	<!-- wp:post-content {"metadata":{"name":"Main Content Placeholder"},"style":{"spacing":{"blockGap":"0"}},"className":"main-content-placeholder"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"arab-fund"} /-->