<!-- wp:template-part {"slug":"header","theme":"arab-fund","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Pages Main Content"}} -->
<main class="wp-block-group">
    <!-- wp:group {"metadata":{"name":"Inner Page Layout","categories":[],"patternName":"core/block/15275"},"className":"inner-page-layout","layout":{"type":"default"}} -->
    <div class="wp-block-group inner-page-layout">
        <!-- wp:group {"metadata":{"name":"Inner Page Navigation"},"className":"inner-page-navigation","layout":{"type":"default"}} -->
        <div class="wp-block-group inner-page-navigation"><!-- wp:heading {"level":1} -->
            <h1 class="wp-block-heading">
                About AFESD
                <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
            </h1>
            <!-- /wp:heading -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"metadata":{"name":"BreadCrumb Container"},"className":"inner-page-title-wrapper","layout":{"type":"default"}} -->
        <div class="wp-block-group inner-page-title-wrapper"><!-- wp:post-title /-->

            <!-- wp:shortcode -->
            [wpseo_breadcrumb]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"metadata":{"name":"Pages Main Content"},"className":"pages-main-content  comman","layout":{"type":"default"}} -->
        <div class="wp-block-group pages-main-content  comman">
            <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->

        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->













<!-- wp:template-part {"slug":"footer","theme":"arab-fund","tagName":"footer","area":"footer"} /-->