<!-- wp:template-part {"slug":"header","theme":"arab-fund","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"metadata":{"name":"Inner Page Layout","categories":[],"patternName":"core/block/15275"},"className":"inner-page-layout page-content","layout":{"type":"default"}} -->
<div class="wp-block-group inner-page-layout page-content">
    <!-- wp:group {"metadata":{"name":"Inner Page Navigation"},"className":"inner-page-navigation","layout":{"type":"default"}} -->
    <div class="wp-block-group inner-page-navigation"><!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group"><!-- wp:shortcode -->
            [page_main_heading]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"layout":{"type":"default"}} -->
        <div class="wp-block-group"><!-- wp:shortcode -->
            [mega_menu]
            <!-- /wp:shortcode -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"BreadCrumb Container"},"className":"inner-page-title-wrapper","layout":{"type":"default"}} -->
    <div class="wp-block-group inner-page-title-wrapper"><!-- wp:post-title /-->

        <!-- wp:shortcode -->
        [wpseo_breadcrumb]
        <!-- /wp:shortcode -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"main","metadata":{"name":"Pages Main Content"},"className":"comman pages-main-content  "} -->
    <main class="wp-block-group comman pages-main-content">
        <!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"default"}} /-->
    </main>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"arab-fund","tagName":"footer","area":"footer"} /-->