<!-- wp:template-part {"slug":"header","theme":"arab-fund","tagName":"header","area":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full"} -->
<main class="wp-block-group alignfull">
    <!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Inner Page Layout","categories":[],"patternName":"core/block/15275"},"className":"inner-page-layout no-main-heading","layout":{"type":"default"}} -->
<div class="wp-block-group inner-page-layout">
    <!-- wp:group {"metadata":{"name":"Inner Page Navigation"},"className":"inner-page-navigation","layout":{"type":"default"}} -->
    <div class="wp-block-group inner-page-navigation"><!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">AFESD Activities</h1>
        <!-- /wp:heading -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"BreadCrumb Container"},"className":"inner-page-title-wrapper","layout":{"type":"default"}} -->
    <div class="wp-block-group inner-page-title-wrapper"><!-- wp:post-title /-->

        <!-- wp:shortcode -->
        [wpseo_breadcrumb]
        <!-- /wp:shortcode -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Pages Main Content"},"className":"pages-main-content ","layout":{"type":"default"}} -->
    <div class="wp-block-group pages-main-content  comman">
        <!-- wp:shortcode -->
        [albumsid_arabfund_shortcode]
        <!-- /wp:shortcode -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer","theme":"arab-fund","tagName":"footer","area":"footer"} /-->